<script>
  function combine() {
    document.getElementById("email").value = document.getElementById("first").value + "@u.nus.edu";
  }

  function admin() {
    if (confirm("Are you sure you want to create an admin account?")) {
      document.getElementById("role").value = "admin";
    } else {
      return false;
    }
  }

  function organiser() {
    document.getElementById("role").value = "organiser";
    document.getElementById("oragniser").value = true;
  }
</script>

<% if user_signed_in? %>
  <% if current_user.user_role == "admin" %>
    <h2>Creat a New Account</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <label class="form-label">Account Type: </label>
  <input type="radio" name="type" onclick="organiser()" value="Organiser" checked>Organiser
  <input type="radio" name="type" onclick="return admin()" value="Admin">Admin

  <div class="field form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"email" %>
  </div>
  <br />
  
  <% token =  Devise.friendly_token%>
  <div class="field form-group" hidden>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", value: token, required: true %>
  </div>

  <div class="field form-group" hidden>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", value: token, required: true %>
  </div>

  <div class="field form-group" hidden>
    <%= f.label :role %><br />
    <%= f.text_field :role, autocomplete: "role", class:"form-control", value: "organiser" , id:"role", readonly: true %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create new Account", class: 'btn btn-primary' %>
  </div>
<% end %>
  <% end %>
<% else %>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", required: true %>
  </div>

  <%= f.label :email %><em> (Please use your NUS email)</em><br />
  <div class="input-group">
    <input id="first" class="form-control" required>
    <span class="input-group-text">@</span>
    <input id="second" class="form-control" value="u.nus.edu" readonly required>
  </div>

  <div class="field form-group" hidden>
    <%= f.label :email %><em> (Please use your NUS email)</em><br />
    <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"email" %>
  </div>
  <br />
  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", required: true %>
  </div>
  <br/>

  <div class="actions" onclick="combine()">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>
<br/>
<h5>Signing up as organiser? Please email: e0544597@u.nus.edu</h5>
<%= render "devise/shared/links" %>

<% end %>