<script>
  function change() {
    document.getElementById("role").value = "admin";
  }
</script>

<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error")%> prohibited this user from being saved:</h2>

            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class="field form-group" hidden>
        <%= form.label :role %><br />
        <%= form.text_field :role, autocomplete: "role", class:"form-control", required: true, id:"role" %>
    </div>
    <br/>
    <div class="actions" onclick="change()">
        <%= form.submit "Grant admin access", class: 'btn btn-primary'%>
    </div>
    <br />
    <div class="actions">
        <%= link_to 'Cancel', users_path, class: 'btn btn-secondary'%>
    </div>

<% end %>