<h1>Name: <%= @user.name %></h1>
<h1>Role: <%= @user.role %></h1>

<% if current_user.id == @user.id %>
    <%= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-primary'%>
<% end %>

<% if current_user.user_role == "admin" && @user.role != "admin" %>
    <%= render 'grantAdmin', user: @user %>
<% end %>

<% if current_user.user_role == "admin" && @user.role == "admin" && current_user.id != @user.id %>
    <%= render 'removeAdmin', user: @user %>
<% end %>