<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi admin!</h1>
    <h4>Here is a new event for approval:</h4>
    <p>Find the event at: <%= @link + "/event/" + @event.id.to_s %></p>
    <p>Submitted by: <%= @user.name %></p>
    <p>User email: <%= @user.email %></p>
    <p>Event Name: <%= @event.name %></p>
    <p>Date: <%= @event.start_date.strftime("%d %B %Y") %> to <%= @event.end_date.strftime("%d %B %Y") %></p>
    <p>Summary:</p>
    <p><%= @event.summary %></p>
    <p>Venue:</p>
      <% @event.venue.split("\n").each do |paragraph| %>
        <p><%= paragraph %></p><br/>
      <% end %>
    <p>Skills Needed: <%= @event.skills %></p>
    <p>Details:</p>
      <% @event.details.split("\n").each do |paragraph| %>
        <p><%= paragraph %></p><br/>
      <% end %>
    <p>Sign Up Link: <%= @event.link %></p>
    <p>Contact:</p>
    <% @event.contact.split("\n").each do |paragraph| %>
        <p><%= paragraph %></p><br/>
      <% end %>
  </body>
</html>